
.dominoSection{
  width: 100%;
  border: 1px solid red;
  margin: 0;
  background-color: white;
  min-width: 560px;
  text-align: center;
  background-size: cover;
}
.dominoSectionTop{
  padding: 0;
  margin: 40px auto 10px;
  width: 100%;
  height: 600px;
  text-align: center;
}
.dominoSectionTop img {
  padding: 0;
  margin: 0;
  max-width: 200px;
  min-width: 20px;
  width: 100%;
  height: 100%;
}

#domino {
  top: 5%;
  padding: 0;
  margin: 0;
  display: inline-block;
  height: 70%;
  position: relative;
}
.dominoList {
  position: relative;
  // border: 4px solid black;
  border-radius: 5px;
  padding: 2%;
  margin: 0 auto;
  max-width: 65%;
  min-width: 30%;
  max-height: 600px;
  min-height: 100px;
}
li {
  list-style: none;
}
.dominoSectionCenter {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
#left, #right {
  width: 100px;
  height: 30px;
  color: white;
  background-color: rgb(61, 63, 90);
  border: none;
  border-radius: 3px;
  outline: none;
}
#left:active{
  background-color: red;
  color: black;
}
#right:active{
  background-color: red;
  color: black;
}
#reset{
  margin: 0 -10px;
  width: 100px;
  height: 30px;
  color: white;
  background-color: red;
  border: none;
  outline: none;
}
#reset:active{
  background-color: rgb(61, 63, 90);
}

/////////////////////////////////////Rotation section + size + type
.dominoSectionBottom{
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

/////////////////////////////////////////////////////////type
.titleType {
  margin: 0;
  padding: 0 0 1% 5%;
  text-align: left;
}
#dominoType {
  width: 100%;
  position: relative;
  padding: 10px;
}
select {
  width: 100%;
  padding: -5px;
  margin: 0;
  border: none;
  outline: none;
  background-color: #b6ccce;
}
.type{
  padding: 0;
  margin: 0 auto;
  border: 1px solid grey;
  width: 90%;
  border-radius: 4px;
}
#dominoPositionSel{
  width: 100%;
  position: relative;
  padding: 10px;
}
.dominoPosition{
  padding: 0;
  margin: 0 auto;
  border: 1px solid grey;
  width: 90%;
  border-radius: 4px;
}

//////////////////////////////////////////////////////size
.titleSize{
  text-align: left;
  padding: 0;
  margin: 1% 0 1% 5%;
}
.size {
  padding: 3px;
  margin: 0 auto;
  border: 1px solid grey;
  width: 90%;
  border-radius: 4px;
}
#dominoSize {
  width: 95%;
  position: relative;
  padding: 5px;
  outline: none;
}
//////////////////////////////////////////rotation
.titleRotation{
  text-align: left;
  padding: 0;
  margin: 1% 0 1% 5%;
}
.rotation{
  padding: 3px;
  margin: 0 auto;
  border: 1px solid grey;
  width: 90%;
  border-radius: 4px;
}
#dominoRotationSpeed{
  width: 95%;
  position: relative;
  padding: 5px;
  outline: none;
}

// dominooooooo IMG (point)

#dominoListIMG{
  padding: 0;
  margin: 0 auto;
  border: 4px solid black;
  border-radius: 10px;
  font-style: none;
  text-align: center;
  min-width: 150px !important;
}

.dominoItemIMG{
  width: 10px;
  height: 10px;
  border: 8px solid black;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  margin: 10%;
}