<div class="dominoSection">
  <div 
    class="dominoSectionTop" 
    id="conteinerDomino">
    <span id="domino">
        <ul class="dominoListIMG" id="dominoListIMG">
          <li class="dominoItemIMG" id="dominoItemImgTop1" style="opacity:0"></li>
          <li class="dominoItemIMG" id="dominoItemImgTop2" style="opacity:0"></li>
          <li class="dominoItemIMG" id="dominoItemImgTop3" style="opacity:0"></li>
          <li class="dominoItemIMG" id="dominoItemImgTop4" style="opacity:0"></li>
          <li class="dominoItemIMG" id="dominoItemImgTop5" style="opacity:0"></li>
          <li class="dominoItemIMG" id="dominoItemImgTop6" style="opacity:0"></li>
          <li class="dominoItemIMG" id="dominoItemImgTop7" style="opacity:0"></li>
          <li class="dominoItemIMG" id="dominoItemImgTop8" style="opacity:0"></li>
          <li class="dominoItemIMG" id="dominoItemImgTop9" style="opacity:0"></li>
          
          <hr>

          <li class="dominoItemIMG" id="dominoItemImgBottom1" style="opacity:0"></li>
          <li class="dominoItemIMG" id="dominoItemImgBottom2" style="opacity:0"></li>
          <li class="dominoItemIMG" id="dominoItemImgBottom3" style="opacity:0"></li>
          <li class="dominoItemIMG" id="dominoItemImgBottom4" style="opacity:0"></li>
          <li class="dominoItemIMG" id="dominoItemImgBottom5" style="opacity:0"></li>
          <li class="dominoItemIMG" id="dominoItemImgBottom6" style="opacity:0"></li>
          <li class="dominoItemIMG" id="dominoItemImgBottom7" style="opacity:0"></li>
          <li class="dominoItemIMG" id="dominoItemImgBottom8" style="opacity:0"></li>
          <li class="dominoItemIMG" id="dominoItemImgBottom9" style="opacity:0"></li>
        </ul>
    </span>
  </div>

  <!-- ////////////////////////////////////////Section button/////////////////////////////////////////////// -->
  <div class="dominoSectionCenter" >
    <button  
      type="button" 
      id="left"
      onclick="turnLeft()"
    >
        Rotate left
    </button>
    <button  
      type="button" 
      id="reset" 
      onclick="resetform()"
    >
        Reset
    </button>
    <button  
      type="button" 
      id="right" 
      onclick="turnRight()"
    >
        Rotate right
    </button>
  </div>
  <!-- //////////////////////////////////////Section select TOP or BOTTOM/////////////////////////////////////////////////// -->
  <div class="dominoSectionBottom">
    <p class="titleType">Domino Section</p>
    <form class="type" id="">
      <select name="dominoType" id="dominoType" onchange="Sel()">
        <option value="0" id="dominoTypeTop" class="dominoName">Top</option>
        <option value="1" id="dominoTypeBottom" class="dominoName">Bottom</option>
      </select>
    </form>
    <form class="dominoPosition" id="dominoPosition" style="display:none">
      <select name="dominoPositionSel" id="dominoPositionSel" onchange="downTop()">
        <option value="0" id="dominoPositionFirst" class="dominoPositionName">None</option>
        <option value="1" id="dominoTypeSecond" class="dominoPositionName">One</option>
        <option value="2" id="dominoTypeThird" class="dominoPositionName">Two</option>
        <option value="3" id="dominoTypeFourth" class="dominoPositionName">Three</option>
        <option value="4" id="dominoTypeFifth" class="dominoPositionName">Four</option>
        <option value="5" id="dominoTypeSixth" class="dominoPositionName">Five</option>
        <option value="6" id="dominoTypeSeventh" class="dominoPositionName">Six</option>
      </select>
    </form>
    <!-- ////////////////////////////////////////Section Size + Rotation///////////////////////////////////// -->
    <span id="myform">
      <p class="titleSize">Domino size</p>
      <div class="size">
        <input 
          type="range"
          id="dominoSize" 
          oninput="dominoSize()"
          value="25"
          step="1"
          min="15"
          max="35"
        >
      </div>
      <p class="titleRotation">Domino rotation speed</p>
      <div class="rotation">
        <input 
          type="range"
          id="dominoRotationSpeed" 
          oninput="dominoRotationSpeed()"
          value="235"
          step="1"
          min="120"
          max="350"
        >
      </div>
    </span>
  </div>
</div>





