<div class="dominoSection">
  <div 
    class="dominoSectionTop" 
    id="conteinerDomino">
    <span id="domino"></span>
  </div>
  <div class="dominoSectionCenter" >
    <button  
      type="button" 
      id="left"
      onclick="turnLeft()"
    >
        Rotate left
    </button>
    <button  
      type="button" 
      id="reset" 
      onclick="Random()"
    >
        Reset
    </button>
    <button  
      type="button" 
      id="right" 
      onclick="turnRight()"
    >
        Rotate right
    </button>
  </div>
  <div class="dominoSectionBottom">
    <p class="titleSize">Domino size</p>
    <div class="size">
    <input 
      type="range"
      id="dominoSize" 
      oninput="dominoSize()"
      >
    </div>
    <p class="titleRotation">Domino rotation speed</p>
    <div class="rotation">
    <input 
      type="range"
      id="dominoRotation" 
      oninput="dominoRotation()"
      >
    </div>
   
  </div>
</div>



