        <div class="contentConteiner">
            <ul class="listThumbnails ">
                <li class="item  ">
                    <div id="overlayCircle">
                        <p class="overlayTitle">Lake Wakatipu</p>
                        <button id="overlayCircleBTN" onclick="circleOFF()">
                            <div class="close"></div>
                        </button>
                        <div id="overlayCircleIMG" class="circleIMG"></div>
                    </div>
                    <a href="#top">
                        <img src="/madia/1.png" alt="img" class="itemIMG" onclick="circleON()">   
                    </a>
                </li>
                <li class="item  ">
                    <div id="overlayRectangle">
                        <p class="overlayTitle">Lake Wakatipu</p>
                        <button id="overlayRectangleBTN" onclick="RectangleOFF()">
                            <div class="close"></div>
                        </button>
                        <div id="overlayRectangleIMG" class="rectangleIMG"></div>
                    </div>
                    <a href="#top">
                        <img src="/madia/2.png" alt="img" class="itemIMG" onclick="RectangleON()">
                    </a>
                </li>
                <li class="item">
                    <div id="overlaySquare">
                        <p class="overlayTitle">Lake Wakatipu</p>
                        <button id="overlaySquareBTN" onclick="SquareOFF()">
                            <div class="close"></div>
                        </button>
                        <div id="overlaySquareIMG" class="squareIMG"></div>
                    </div>
                    <a href="#top">
                        <img src="/madia/3.png" alt="img" class="itemIMG" onclick="SquareON()">
                    </a>
                </li>
                <li class="item ">
                    <div id="overlayTriangle">
                        <p class="overlayTitle">Lake Wakatipu</p>
                        <button id="overlayTriangleBTN" onclick="TriangleOFF()">
                            <div class="close"></div>
                        </button>
                        <div id="overlayTriangleIMG" class="triangleIMG"></div>
                    </div>
                    <a href="#top">
                        <img src="/madia/4.png" alt="img" class="itemIMG" onclick="TriangleON()">   
                    </a>    
                </li>               
            </ul>  
        </div>
