<div class="contentConteiner">
  <div class="header" id="top">
    <div class="container-fluid">
      <div class="row">
        <div class="headerTop ">
          <p class="headerTitle">New Zealand</p>
        </div>
        <div class="headerBottom ">
          <p class="headerDesc">This project might be trickier than it seems. 
            Look around carefully. What you see? The sky is blue, the grass is green. 
            The sun shines through the window.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>